<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Register</title>
    <link  rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <input type="text" id="regUsername" placeholder="Username">
        <input type="text" id="regEmail" placeholder="Email">
        <input type="password" id="regPassword" placeholder="Password">
        <input type="password" id="regPassword" placeholder="Confirm Password">
        <button onclick="register()">Register</button>
        <p id="regMessage"></p>
        <p>Already have an account? <a href="login.html"><b>Login</b></a></p>
    </div>
    <script src="{% static 'frontend/register.js' %}"></script>
</body>
</html>